<div class="blog-post">
  <h2 class="blog-post-title"><%= link_to blog.title.upcase, blog %></h2>
  <p class="blog-post-meta">Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago</p>

  <% if logged_in?(:site_admin) %>
    <p class="blog-post-meta">
    <%= link_to blog.status, toggle_status_blog_path(blog) %> |
    <%= link_to 'Edit', edit_blog_path(blog) %> |
    <%= link_to 'Delete Post', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>

  <p class="blog-text">
    <%= blog.body.to_plain_text.truncate_words(50) %>
  </p>
  <p class="blog-text">
    <small class="text-muted">
      <%= blog.updated_at.strftime("%A, %B, %e, %Y") %> |
      <%= pluralize(blog.views, "View") %> |
      <% @num_comments = blog.comments.count %>
      <% blog.comments.each do |comment| %>
        <% @num_comments += comment.comments.count %>
      <% end %>

     <%= pluralize(@num_comments, "Comment") %> |
     <% if logged_in?(:site_admin) %>
       <%= link_to "Delete", blog, method: :delete %>
     <% end %>
    </small>
  </p>
</div>
